.list-group-item {
    display: flex;
    align-items: center;
}

.bi {
    margin-right: 10px;
}

.container {
    margin-top: 2rem;
}

.row {
    margin-bottom: 1rem;
}

.modal-header .btn-close {
    padding: 0.75rem;  /* Adjust the padding to ensure it's not squished */
    font-size: 1.25rem;  /* Adjust the font size for the 'x' icon */
    line-height: 1;  /* Ensure the line-height doesn't stretch the icon */
    margin-top: -0.25rem;  /* Adjust vertical alignment */
    margin-right: -0.75rem;  /* Adjust horizontal alignment */
}
